<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include("partials/header"); -%>
    <h1><%=Title%></h1>
    <p><%=postBody%></p>
  <%- include("partials/footer"); -%>

  </body>
</html>
